


.card-body {
 //   background-image: linear-gradient(to right, #008cba, #398eab, #578f9e, #708f94, #858e8e);
}

#dashboard-main {
    background-color: white;
}

.card-text{
    color: black;
}

#mainButton{
    margin: .5em;
}

.card{
    box-shadow: 5px 10px 8px #888888;
}

#description{
    margin:.5em;
    margin-top: 3em;
}