#trendsGraphContainer{
    align-content: center;
    text-align: center
}

#trendGraphCard{
    height:200px;
}

.trendGraph{
    padding-top:10px;
}

.serviceGraphHeader{
    margin-top: 2em;
}

.serviceName{
    padding-top:50px
}

.teamHeader{
    align-content: center;
    text-align: center
}